fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
chromadb
sentence-transformers
groq
pydantic
pydantic-settings
python-multipart
spacy
pypdf
httpx
pytest
slowapi
python-docx
numpy
python-jose[cryptography]
passlib[bcrypt]
psutil
email-validator
opencv-python-headless
pytesseract
pdf2image
pymupdf
Pillow
google-generativeai
PyJWT
bcrypt==4.0.1
prometheus-fastapi-instrumentator
